<%- include('./categories/electronics.ejs')  %>
<span class="separador"></span>
<%- include('./categories/aliment.ejs')  %>
<span class="separador"></span>
<%- include('./categories/drinks.ejs')  %>
<span class="separador"></span>
<%- include('./categories/dress.ejs')  %>
<span class="separador"></span>
<%- include('./categories/games.ejs')  %>
<span class="separador"></span>
<%- include('./categories/automotive.ejs')  %>
<span class="separador"></span>
<%- include('./categories/home.ejs')  %>
<span class="separador"></span>
<%- include('./categories/others.ejs')  %>


