<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="icon" href="/images/loguito.png">
    <title>Productos</title>
</head>
<body>  
    <header>
        <%- include('../partials/header.ejs')  %>
    </header>

    <section class="products">
        <%- include('../partials/product/productDetail.ejs') %>
    </section>

    <section class="products">
        <h3>Te puede interesar</h3>
        <%- include('../partials/products/puedeInteresar.ejs') %>
    </section>

    <section class="categories">
        <%- include('../partials/categories.ejs')  %>
    </section>

    <footer>
        <%- include('../partials/footer.ejs')  %> 
    </footer>
    
    <script src="/js/product.js"></script>
</body>
</html>