<div class="product_detail_container">
    <div class="product_links">
        <img src="/images/Vector.svg" alt="vector">
        <a href="/">Volver al listado </a>
        <p> Alimentos</p>
    </div>

    <div class="Product_detail">
        <div class="gallery">
            <img class="img_gallery" src="/images/jackdaniels.svg" alt="jackdaniels">
            <img class="img_gallery" src="/images/jackdaniels_2.svg" alt="jackdaniels_2">
            <img class="img_gallery" src="/images/jackdaniels_3.svg" alt="jackdaniels_3">
        </div>
        <div class="img_detail">
            <img src=<%=  product.src  %>   alt= <%=  product.alt  %> >
        </div>
        <div class="detail_container">
            <h3> <%=  product.nombre  %> </h3>
            <div class="points_container">
                <p class="points_number"><%= product.puntos  %></p>
                <p class="points">PUNTOS</p>
            </div>
            <button class="add_button"> Agregar al carrito</button>
            <p class="detail">
                <%= product.description  %> 
            </p>
        </div>
        
    </div>
</div>