
<div class="header">
    
        <%- include('./header/logo.ejs')  %> 
        <%- include('./header/search.ejs')  %> 
        <div class="user">
            <%- include('./header/cart.ejs')  %> 
            <% if (true) { %>
                <%- include('./header/profile.ejs')  %>
            <% } else { %>
                <%- include('./header/profileLogin.ejs')  %>
            <% } %> 
             
        </div>
    
</div>
